<template>
  <div id="lightbulb" :style="{background:'hsl(0,0%,'+intensity+'%)'}">
    <button @click.prevent="update">
      Version 1.4
      <span v-if="updateAvailable">Update</span>
    </button>
    <img alt="Light bulb" src="./assets/lightbulb.svg" draggable="false">
  </div>
</template>

<script>

import Hammer from 'hammerjs'

export default {
  name: 'lightbulb',
  data: function(){
    return {
      intensity: localStorage.lumapp_intensity != undefined ? parseInt(localStorage.lumapp_intensity) : 30,
      start: 0,
      updateAvailable: false
    }
  },
  methods: {
    update(){
      window.location = location
    }
  },
  mounted() {
    let hammertime = new Hammer.Manager(this.$el);
    hammertime.add( new Hammer.Pan({ direction: Hammer.DIRECTION_HORIZONTAL, threshold: 0 }) );
    hammertime.on('panstart', ()  => {
      this.start = this.intensity
    })
    hammertime.on('panmove', (event)  => {
      this.intensity = this.start + (event.deltaX / this.$el.getBoundingClientRect().width * 100)
      if( this.intensity < 0 ) this.intensity = 0
      if( this.intensity > 100 ) this.intensity = 100
      localStorage.lumapp_intensity = this.intensity
    })

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.onmessage = event => {
        if( event.data === 'refresh' ) this.updateAvailable = true;
      }
    }
  },
}
</script>

<style>
body {
  margin: 0;
}
#lightbulb {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#lightbulb > img {
  width: 80%;
  max-height: 80vh;
  align-self: center;
  pointer-events: none;
}
button {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
